h1{
    color: rgb(126, 88, 212);
    text-align: justify;
    text-align: center;
    font-family: fantasy
}

h2{
    color: rgb(202, 18, 12);
    text-align: start;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

img{
 width: 40%;
 border-radius :50%;
 background-position-x: center;
}

nav{display: inline-flex;
    color:rgb(0, 4, 255);
    
}


body{
    background-image: url(12324567kk.jpg);
    background-position-x: center;
}


@media(max-width:480px){
    .name {
        font-size : 24px;
    }
    
    nav li {

        padding: 6px 8px;
        font-size :12px;
    
}

#aboutme img {
    width: 200px;
    height: 200px;
    margin:  1px;
}
}

#aboutme:hover{
        -webkit-animation-name:myanimation;
        -webkit-animation-duration: 2s;
        -moz-animation-delay: 0.5s;
        -webkit-animation-fill-mode: forwards;
        -webkit-animation-timing-function: ease-in-out;


}


@keyframes myanimation {
    form{
        opacity:0.5 ;
        transform: scale(0);
        
    }
    
    to{
        opacity:1 ;
        transform: scale(1);
    
    
    }
    
}





          